<section>
    <div class="register-form">
        <form class="register" method="POST" action ="/registration">
            <legend>Create account</legend>
            <label for="userName">First Name</label>  
            {{#if firstnameErrorMsg}}
            <input type="text" class="invalid" id="firstName" name="firstName" value={{user_firstName}}> 
            <p class="error">{{firstnameErrorMsg}}</p>
            {{else}}
            <input type="text" id="firstName" name="firstName" value={{user_firstName}}> 
            {{/if}}

            <label for="lastName">Last Name</label>  
            {{#if lastnameErrorMsg}}
            <input type="text" class="invalid" id="lastName" name="lastName" value={{user_lastName}}> 
            <p class="error">{{lastnameErrorMsg}}</p>
            {{else}}
            <input type="text" id="lastName" name="lastName" value={{user_lastName}}> 
            {{/if}}

            <label for="email">Email</label>   
            {{#if emailErrorMsg}}
            <input type="email" class="invalid" id="email" name="email" value={{user_email}}> 
            <p class="error">{{emailErrorMsg}}</p>
            {{else}}
            <input type="email" id="email" name="email" value={{user_email}}> 
            {{/if}}

            <label for="password">Password</label>    
            {{#if passwordErrorMsg}}
            <input type="password" class="invalid" id="password" name="password" value={{user_password}}> 
            <p>Password must consist of at least 6 characters</p>
            <p class="error">{{passwordErrorMsg}}</p>
            {{else}}
            <input type="password" id="password" name="password" value={{user_password}}>
            <p>Password must consist of at least 6 characters</p> 
            {{/if}}

            <label for="passwordAgain">Password Again</label>   
            <input type="password" id="passwordAgain" name="passwordAgain"> 

            {{#if passwordAgainErrorMsg}}
                <p class="error">{{passwordAgainErrorMsg}}</p>
            {{/if}}

            <input id="submitbtn" type="submit" value="Create your buyPal account">
            <div>
                By creating an account, you agree to buyPal's
                <a href="">Conditions of Use</a> and <a href="">Privacy Notice.</a>
            </div>
        </form>
        <div id="reg-log">
            Already have an acoount? <a href="/login">Sign in</a>
        </div>
        
    </div>
</section>