 <section class="oneProduct">   
    <div class="oneProductImg">    
        
        <img src="/img/{{this.productPhoto}}" alt="" width="500px" height="450px">
        
    </div> 

    <div class="oneProductInfo">
        <div class="productTitle">
            {{this.productName}}
        </div>
        <div>
           Price: ${{this.productPrice}}
        </div>
        <div>
            {{this.productDescription}}
        </div>
        <div>
            <form method="POST" action="/products/list/userShoppingCart/{{_id}}">
            <label>Quantity</label>
            <select name="quantityOrderd" id="quantityOrderd">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <br>
            <div class="button" >
                {{!-- <a href="/products/list/userShoppingCart/{{_id}}">Add to Cart</a><br> --}}
                
                <input class="button"  type="submit" value="Add to Cart">
            </form>
        </div>
    </div>   
</section>  