<section class="products">
  
    <div class="product-nav">
        <div id="productSearch">
            <form method="POST" action="/products/list">

                <label>Product list</label>
                <br><br>
                <select class="productList" name="productList">
                    <option value="All-products">All Products</option>
                    <option value="Cosmetics">Beauty and Personal Care</option>
                    <option value="Electronics">Electronics & Accessories</option>
                    <option value="Clothes">Clothes and Shoes</option>
                    <option value="Home">Home and Kitchen</option>
                </select>
                <br><br>

                <input id="searchbtn" type="submit" value="Search">

            </form>
        </div>

        {{!-- <div id="addProduct">
            <form method="POST" action="/products/list">

                <label>Add Product</label>
                <br><br>

                <input type="submit" value="Add Product">

            </form>
        </div> --}}

        {{!-- <p>Electronics & Accessories</p>
        
        <nav>
            <div>
                <p><a href="">Computers & Accessories</a></p>
                <p><a href="">Phones & Accesories</a></p>
                <p><a href="">Camera, Photo & Video</a></p>
                <p><a href="">Accessories & Supplies</a></p>
                <p><a href="">Headphones</a></li>

            </div>
        </nav> --}}

    </div>

    <div class="pro-products">
        {{#each product}}
            <div>
                <div>
                    <img src="{{this.img}}" alt="" width="250px" height="250px">
                </div>
                <div id="productTitle">
                    {{this.title}}
                </div>
                <div>
                    {{this.price}}
                </div>
                <div>
                    {{this.category}}
                </div>
                <div>
                    {{this.bs}}
                </div>
                <div>
                    
                    {{#if this.bestSeller}}
                    <p id="bsCon">Best Seller</p>
                    {{else}}
                    <p></p><br>
                    {{/if}}
                </div>
                <div class="addCart"><a href=" ">Add to cart</a></div> 
            </div>
        {{/each}}
    </div>
</section>