<section class="products">
  
    <div class="product-nav">
        <div id="productSearch">
            <form method="POST" action="/products/list">

                <label>Product list</label>
                <br><br>
                <select class="productList" name="productCategory">
                    <option value="Beauty and Personal Care">Beauty and Personal Care</option>
                    <option value="Electronics & Accessories">Electronics & Accessories</option>
                    <option value="Clothes and Shoes">Clothes and Shoes</option>
                    <option value="Home and Kitchen">Home and Kitchen</option>
                </select>
                <br><br>

                <input id="searchbtn" type="submit" value="Search">

            </form>
        </div>

        {{!-- <p>Electronics & Accessories</p>
        
        <nav>
            <div>
                <p><a href="">Computers & Accessories</a></p>
                <p><a href="">Phones & Accesories</a></p>
                <p><a href="">Camera, Photo & Video</a></p>
                <p><a href="">Accessories & Supplies</a></p>
                <p><a href="">Headphones</a></li>

            </div>
        </nav> --}}

    </div>

    <div class="pro-products">
        {{#each product}}
            <div>
                <div>
                    <img src="/img/{{this.productPhoto}}" alt="" width="250px" height="250px">
                </div>
                <div id="productTitle">
                    {{this.productName}}
                </div>
                <div>
                    ${{this.productPrice}}
                </div>
                <div>
                    {{this.productCategory}}
                </div>
                <div id="bsCon">
                    {{this.bestSeller}}
                </div>
                {{!-- <div>
                    
                    {{#if this.bestSeller}}
                    <p id="bsCon">Best Seller</p>
                    {{else}}
                    <p></p><br>
                    {{/if}}
                </div> --}}
                
                <div class="addCart"><a href="/products/list/{{this.id}}">See more</a></div> 
            </div>
        {{/each}}
    </div>
</section>